version: '3'

services:
  db:
    image: mongo:latest
    hostname: mongo
    container_name: mongo_tfg
    command: mongod --storageEngine wiredTiger --wiredTigerDirectoryForIndexes --directoryperdb
    volumes:
      - $HOME/TFG/data/:/data/db/
    networks:
      tfg:
        aliases:
          - mongo
        ipv4_address: 172.16.0.2
  tfg:
    image: tfg
    environment:
      - TEST=True
      - PROJECT=detectorMalware
      - IP_SERVER_MONGO=172.16.0.2
      - DB_NAME=tfg
    container_name: code_tfg
    build: .
    hostname: code
    volumes:
      -  /mnt/Data/TFG/:/data/raw/    # Source data supplied for Kaggle's challenge
    networks:
      tfg:
        aliases:
          - code
        ipv4_address: 172.16.0.3
    depends_on:
      - db

networks:
  tfg:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.0.0/24
