version: '3'

services:
  db:
    image: mongo:4.0.1
    hostname: mongo
    logging:
      driver: none
    container_name: mongo_tfg
    command: mongod --storageEngine wiredTiger --wiredTigerDirectoryForIndexes --directoryperdb --wiredTigerCollectionBlockCompressor zlib --wiredTigerCacheSizeGB 2 --wiredTigerIndexPrefixCompression true
    volumes:
      - /mnt/Data/TFGDataBase/data/:/data/db/
    networks:
      tfg:
        aliases:
          - mongo
        ipv4_address: 172.16.0.2
  tfg:
    image: tfg
    build: .
    container_name: code_tfg
    hostname: code
    environment:
      - SAMPLE=False
      - PERCENTAGE_SAMPLE=5
      - PROJECT=detectorMalware
      - IP_SERVER_MONGO=172.16.0.2
      - DB_NAME=tfg
      - ORDER_EXTRACT_FEUTURES_ASM=2
      - DIR_DATA_RAW=/data/raw/
      - SEED=1234
      - THREAD=4
      - PERFORM_METHOD=ALL
      - NUM_FEATURES=500
      - NUM_FEATURES_USE=500
      - NUM_LABELS=9
      - MIN_FILES_FEATURE=2
    volumes:
      -  ./detectorMalware/:/detectorMalware/
      -  $HOME/TFG/results/:/data/results/
      -  $HOME/TFG/:/data/raw/
    networks:
      tfg:
        aliases:
          - code
        ipv4_address: 172.16.0.3
    depends_on:
      - db



networks:
  tfg:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.0.0/24
