version: '3'

services:
  db:
    image: mongo:latest
    hostname: mongo
    container_name: mongo_tfg
    command: mongod --storageEngine wiredTiger --wiredTigerDirectoryForIndexes --directoryperdb --wiredTigerCollectionBlockCompressor zlib --wiredTigerCacheSizeGB 4 --wiredTigerIndexPrefixCompression true
    volumes:
      - $HOME/TFG/data/:/data/db/
    networks:
      tfg:
        aliases:
          - mongo
        ipv4_address: 172.16.0.2
  tfg:
    image: tfg
    environment:
      - SAMPLE=True
      - PERCENTAGE_SAMPLE=5
      - PROJECT=detectorMalware
      - IP_SERVER_MONGO=172.16.0.2
      - DB_NAME=tfg
      - ORDER_EXTRACT_FEUTURES_ASM=4
      - DIR_DATA_RAW=/data/raw/
      - SEED=1234
      - THREAD=6
    container_name: code_tfg
    build: .
    hostname: code
    volumes:
      -  ./detectorMalware/:/detectorMalware/
      -  $HOME/TFG/results/:/data/results/
      -  /mnt/DiskExternal/TFG/:/data/raw/
    networks:
      tfg:
        aliases:
          - code
        ipv4_address: 172.16.0.3
    depends_on:
      - db

networks:
  tfg:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.0.0/24
